body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    border: 1px lightgray solid;
}

.message-info{
    background-color: #bac9e7;
    color: #474395;

}

.message-success{
    background-color: #c6ead2;
    color: #337848;
    padding: 1em;
    margin: 1em;
}

.message-warning{
    background-color: #f2f1c2;
    color: #998a31;
    padding: 1em;
    margin: 1em;
}

.message-error{
    background-color: #f0cbce;
    color: #86283c;
    padding: 1em;
    margin: 1em;
}