.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: cornsilk;
    text-decoration: underline;
}

body {
    background: burlywood;
    font-family: Impact, fantasy;
}

ul {
    list-style: square;
}

body {
    background-image: url("../image/viridian-badge.png");
    background-size: 50px;
    background-repeat: repeat-y;
    background-position: right;
}

.productTable {
    margin: 10px;
    font-size: 25px;
    border: 10px aqua;
}

a:link {
    color: red;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: green;
}
